/* styles.css */
#container {
  background-color: purple;
  padding: 20px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: peru;
  margin: 20px;
  padding: 20px;
}
